@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root{
    --dark-cy : #02384C;
    --pink-red : #C71857;
    --bg : #040F1C;
}


*{
    box-sizing: border-box;
    box-shadow: var(--dark-cy);
}


body{
    background-color: black;
    font-family: 'Space Mono',sans-serif;
    color: cyan;
}



.wrapper{
    max-width: 1200px;
    margin:0 auto;
    padding: 24px 20px 60px;

}

header{
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    border-bottom:2px solid cyan;
    padding-bottom: 10px;
}


#search-bar{
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--dark-cy);
    font-size: 0.8rem;
    outline: none;
    border: 2px solid teal;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-bar::placeholder{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: whitesmoke ;
}

#search-var:focus{
    border-color: cyan;
    box-shadow: var(--dark-cy);
}

.filter-sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#filter-groups{
    display: flex;
    flex-direction: row;
}

.button-inactive {
    text-align: center;
    color: aqua;
    background: black;
    cursor: pointer;
    border: none;
    font-size: 13px;
    padding: 5px 10px ;
}

.button-inactive:hover{
    border:1px solid cyan;
}

.button-active{
    padding: 5px 10px ;
    background-color: cyan;
    color: black;
    border: none;
}

.main-structure{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;

}

#sort-by-selected {
    background: var(--dark-cy);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;    
}

.main-heading{
    font-size: 1.2rem;
    border-bottom: 2px solid cyan;
    font-weight: 800;
    margin-bottom: 10px;
}

#events-grid{
    width: 850px;
    background-color: var(--bg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid cyan;
    padding: 10px;
}

#no-results{
    padding: 20px;
    font-size: 25px;
    min-width: 800px;
    min-height: 500px;
    text-align: center;
    padding-top:150px ;
    font-weight: bold;
    color: aqua;
    border-radius: 5px;
    border: 1px solid var(--dark-cy);
}

#lineup-grid{
    padding: 20px;
    background-color: var(--bg);
    text-align: justify;
    flex-direction: column;
    color: aqua;
    border-radius: 5px;
    border: 2px solid var(--dark-cy);
}

.event-card{
    max-width: 300px;
    border:1px solid var(--dark-cy);
    font-size: 13px;
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    justify-content: space-between;
    padding: 5px ;
    margin-inline: 10px;
    margin-block: 10px;
}

.lineup-card{
    max-width: 270px;
    font-size: 12px;
    border: 1px solid var(--dark-cy);
    margin: 10px 5px;
    padding: 5px;
}

#empty-lineup{
    text-align: center;
    min-width: 270px;
    font-weight: bold;
    border: 2px solid var(--dark-cy);
    padding: 15px 10px ;
}


.bookmark-button{
    background: var(--dark-cy);
    color: aqua;
    font-size: 14px;
    border: none;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

.bookmark-button:hover{
    border: 1px solid cyan;
}

.card-heading{
    display: flex;
    flex-wrap: nowrap;
    font-size:15px;
    font-weight: 600;
    border-bottom: 2px solid cyan;
    justify-content: space-between;
}

.category-tag{
    font-size:13px;
    text-align: right;
    color: aquamarine;
    border-bottom: 2px solid cyan;
}

.card-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size:12px;
    border-bottom: 1px solid cyan;
    justify-content: space-between;
}
.card-registrations{
    font-size:10px;
    color: white;
}


.lineup-heading{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 2px solid cyan;
}

.lineup-details {
    font-size: 12px;
    margin: 5px;
}

.remove-button{
    background: black;
    color: #800516;
    font-size: 14px;
    border: none;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

.remove-button:hover{
    border: 1px solid var(--pink-red);
}